.root
{
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 2.5%;
}

.title
{
    max-width: 100px;
    min-width: 100px !important;
    max-height: 50px;
    min-height: 50px;
}
.actionContainer
{
    margin-left: auto;
    order: 2;
    
}
.actionContainer > button
{
 max-width: 100px;
 min-width: 100px;
 max-height: 50px;
 min-height: 50px;
}
.githubButton
{
    background-color: #24292E !important;
    color: white !important;
    max-width: 250px!important;
 min-width: 250px!important;
 //margin-left: 50px!important;
//   margin-right: 50px!important;
}
.profilePicture
{
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    width: 20%;
    height: 20%;
    margin-left: 8px;
}