.loginContainer
{
    margin-right: 40%;
    margin-left: 25%;
}
.formContainer
{
margin-top: 5%;
}
.formContainer > Form > Button 
{
    margin-top: 5%;
}
.formContainer > Form > div
{
    margin-top: 1%;
    margin-bottom: 1%;
} 