.thumbnailContainer {
  width: 18vw;
  height: 10vw;
  border: 1px solid red;
  border-radius: 19px;
  cursor: pointer;
}
.thumbnail  {
  width: 19vw;
  height:10vw;
  border: 1px solid red;
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
}
